body{
    overflow-x: hidden;
}
.stillq{
    background-color: #E5F8FE;
    margin-top: 50px;
    padding-bottom: 30px;
}
.stillq h2{
    margin-top: 30px;
    color: #3A3A3A;
}
.stillq p{
    color: #3A3A3A;
}
.stillq button {
    color: white;
    background-color: #3282AD !important;
    display: block;
    margin: auto;
}


@media only screen and (max-width: 600px) {

    body{
        overflow-x: hidden !important;
    }
    .stillq{
        background-color: #E5F8FE;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .stillq h2{
        margin-top: 30px;
        color: #3A3A3A;
    }
    .stillq p{
        color: #3A3A3A;
    }
    .stillq button {
        color: white;
        background-color: #3282AD !important;
        display: block;
        margin: auto;
    }


}